    <!-- BEGIN FORGOT PASSWORD FORM -->
     
       <form class="forget-form" >
            <h3 class="font-green">Forgot Password ?</h3>
            <div  class="btn btnmain">
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
               <md-input-container> 
               <input mdInput placeholder="Enter your Email">
               </md-input-container>
           </div>
            <div class="form-actions">
               <button type="submit" id="back-btn" (click)="this.location.back();" class="btn green btn-outline">Back</button>
               <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
            </div>
        </form>
  <!-- END FORGOT PASSWORD FORM -->